@charset "utf-8";
html{
    font: 12px '宋体';
}
a{
    color: black;
}
.top{
    background-color: #f7f7f7;
    height: 26px;
    border-bottom: 1px solid #d8d8d8;
}
.top_page{
    width: 970px;
    height: 26px;
    margin: 0 auto;
}
.top_page_l{
    line-height: 26px;
}
.top_page_r{
    line-height: 26px;
}
.top_page_r ul li{
    float: left;
    padding-right: 10px;
}
.top_page_r ul li s{
    width: 14px;
    height: 12px;
    background: url(../img/img3.png);
    display: inline-block;
    vertical-align: middle;
}
.logo{
    width: 970px;
    height: 98px;
    /* background: red; */
    margin: 0 auto;
}
.logo_l{
    width: 190px;
    height: 75px;
    /* background: rebeccapurple; */
    /* padding: 24px 0 19px 9px; */
    margin: 10px 0 10px 10px;
    background: url(../img/img3.png);
    background-position: -20px 0;
    text-indent: -1000em;
}
.logo_r{
    width: 530px;
    height: 42px;
    /* background: pink; */
    border: 1px solid #999999;
    margin: 25px 0 19px 0;
}
.logo_r_content{
    margin: 6px 0 5px 5px;
}
.logo_r_searche{
    width: 418px;
    height: 28px;
    color: #999999;
    border: 1px solid #c9c9c9;
}
.logo_r_btn{
    width: 99px;
    height: 30px;
    color: white;
    background: #3a98ff;
    border: none;
}
.nav{
    width: 970px;
    height: 25px;
    /* background: rgba(0, 255, 255, 0.788); */
    margin: 0 auto;
    border-bottom: 2px solid #0266a3;
}
.nav li{
    padding: 0 10px 0 10px;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.nav li a{
    color: #0266a3;
}
.nav li:hover{
    background: #0266a3;
}
.nav li:hover a{
    color: white;
}
.banner{
    width: 970px;
    height: 210px;
    /* background: pink; */
    margin: 0 auto;
    margin-top: 10px;
}
.subNav{
    width: 200px;
    height: 210px;
    background: #4d92db;
    margin-right: 11px;
}
.subNav h2{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: white;
    background-color: #0266a3;
    font-size: 14px;
    font-weight: bold;
}
.subNav li{
    font-size: 15px;
    padding-top: 7px;
    margin-left: 11px;
}
.subNav li a{
    padding-left: 8px;
    vertical-align: middle;
}
.subNav li s{
    width: 22px;
    height: 21px;
    background: url(../img/img3.png);
    background-position: -215px 0;
    display: inline-block;
    vertical-align: middle;
}
.ad{
    width: 520px;
    height: 210px;
    background: url(../img/ad.png);
    text-indent: -1000em;
}
.message{
    width: 230px;
    height: 210px;
    /* background: yellowgreen; */
}
.message_top{
    height: 95px;
    background: #F7FAFF;
    border: 1px solid #dddddd;
    margin-bottom: 13px;
}
.message_top_1{
    margin: 10px 0 0 15px;
    font-size: 18px;
    font-weight: bold;
}
.message_top_2{
    margin: 17px 0 0 0;
    font-size: 12px;
}
.message_top s{
    width: 38px;
    height: 38px;
    background: url(..//img/img3.png);
    background-position: -245px 0;
    display: inline-block;
    margin: 13px 12px 0 10px;
}
.message_bottom{
    height: 100px;
    background: #F7F7F7;
}
.message_bottom .findMessage{
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #999999
}
.message_bottom .phone{
    text-align: center;
    margin-top: 6px;
    font-size: 18px;
    color: #4d92db;
}
.message_bottom s{
    width: 30px;
    height: 30px;
    background: url(../img/img3.png) -215px -35px;
    display: inline-block;
    vertical-align: middle;
}
.message_bottom .message_bottom_recall{
    width: 88px;
    height: 32px;
    background: url(..//img/img3.png) -290px 0;
    margin-top: 1px;
    margin-left: 70px;
}
.material{
    width: 950px;
    height: 34px;
    background: #ecf1f7;
    margin: 18px auto 0;
    border-top: 2px solid #c3d7e4;
    padding-left: 20px;
    font-weight: bold;
    line-height: 34px;
}
.product{
    width: 970px;
    height: 345px;
    /* background: #3a98ff; */
    margin: 12px auto 0;
}
.product .product_l{
    width: 728px;
    height: 345px;
    /* background: red; */
    border: 1px solid #dddddd;
}
.product_l_top,.product_l_bottom{
    height: 155px;
    /* background: #4d92db; */
    padding: 17px 13px 0 13px;
}
.product_l_line{
    height: 1px;
    background: #dddddd;
}
.product_l_shop{
    width: 350px;
    height: 146px;
    /* background: rebeccapurple; */
}
.product_l_buy{
    width: 99px;
    height: 143px;
    /* background: red; */
}
.product_l_img{
    width: 97px;
    height: 97px;
    /* background: pink; */
    border: 1px solid #dddddd;
}
.product_l_gobuy{
    width: 99px;
    height: 25px;
    background: #4d92db;
    color: white;
    margin-top: 12px;
}
.product_l_explain{
    width: 250px;
    height: 143px;
    background: yellow;
}
.product .product_r{
    width: 230px;
    height: 345px;
    background: pink;
}