@charset "utf-8";
html{
    font: 12px '宋体';
}
a{
    color: black;
}
.top{
    background-color: #f7f7f7;
    height: 26px;
    border-bottom: 1px solid #d8d8d8;
}
.top_page{
    width: 970px;
    height: 26px;
    margin: 0 auto;
}
.top_page_l{
    line-height: 26px;
}
.top_page_r{
    line-height: 26px;
}
.top_page_r ul li{
    float: left;
    padding-right: 10px;
}
.top_page_r ul li s{
    width: 14px;
    height: 12px;
    background: url(../img/img.png);
    display: inline-block;
    vertical-align: middle;
}
.logo{
    width: 970px;
    height: 98px;
    background: red;
    margin: 0 auto;
}
.logo_l{
    width: 190px;
    height: 75px;
    /* background: rebeccapurple; */
    /* padding: 24px 0 19px 9px; */
    margin: 20px 0 19px 9px;
    background: url(../img/img.png);
    background-position: -20px 0;
    text-indent: -1000em;
}
.logo_r{
    width: 530px;
    height: 42px;
    background: pink;
}